.personalInfo {
	margin: 20px 0 0;

	.personalInfoText {
		font-size: 0.8em;
		text-transform: uppercase;
	}

	.data {
		margin: 3px 0 0;
		font-family: 'Lora', serif;

		.personalInfoData {
			margin: 0 0 0 5px;

			a {
				color: var(--dark);
			}
		}
	}
}
